$mainblue:  #2f5572; /*LECTURE 19TH*/

$mainOrange: #d59541;

$aubergine: rgb(71, 44, 76);

$teal: rgb(0, 128, 128);

$teal_transparent: rgba(0, 128, 128, .3);

$higurashi: #8f1d21;

$higurashi_transparent: rgba(143, 29, 33,.3);

$brown_transparent: rgba(165,42,42,.7);