.client-area {
    padding: 13px;
    text-align: center;

    &__form-inner{
        display: grid;   
        grid-row-gap: 5px;
        @mixin atSmall {
            grid-row-gap: 10px;
        }
        @mixin atMedium {
            grid-row-gap: 15px;
        }
        @mixin atLarge{
            grid-column-gap: 30px;
            grid-row-gap: 10px;
            grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
          
        }
    }

    &__input-full-wdith {
        @mixin atLarge{
       transform: translateX(115%);
        }
    }
   

    &__error {
        color: red;
        @mixin atLarge{
          margin-bottom: 0;
        }
    }

    &__content_area {
      
        &_h3{
            text-align: center;
            color: $aubergine;
            margin-top:0.5rem;
            margin-bottom: 0.5rem;
        }
        &_p {
            text-align:center;
            color: $teal;
            margin-top:0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

